/*  your css code here. If applicable */
body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 25px 0;
    font-size: 28px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
}

.latest-news-section {
    background-color: #ffffff;
    padding: 20px;
    width: 28%;
    border-radius: 15px;
}

.latest-news-section h3 {
    margin-top: 0;
    font-size: 20px;
}

.main-article {
    background-color: #ffffff;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
    text-align: center;
}

.main-article h2 {
    margin-top: 0;
}

.pictorial-news-section {
    background-color: #ffffff;
    padding: 20px;
    width: 28%;
    text-align: center;
    border-radius: 15px;
}

.pictorial-news-section h3 {
    margin-top: 0;
}

.pictorial-news-section img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 14px;
}
